* {
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

/*nav*/


/*page*/

main a {
    color: #56917a;
    text-decoration: none;
}

main a:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 32%;
        left: 17%;
        bottom: 50vh;
        right: 40vh;
        gap: 5%;
        width: 65%;
    }

    section {
        border: 3px solid #56917a;
        border-radius: 10px;
        text-align: center;
        padding: 2em;
    }

    p {
        font-weight: bold;
        font-size: 3em;
    }

    div {
        padding: 2em;
    }

    img {
        width: 70px;
        height: 70px;
        position: relative;
        top: 15px;
        left: 20px;
    }

}

@media screen and (max-width: 767px) {

    main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        position: absolute;
        top: 30%;
        left: 18%;
        gap: 10%;
    }


    section {
        border: 3px solid #56917a;
        border-radius: 10px;
        text-align: center;
        padding: 2em;
        width: 90%;
        height: 60%;
    }

    p {
        font-size: 1.5em;
    }

    img {
        width: 40px;
        height: 40px;
        position: relative;
        top: 10px;
        left: 10px;
    }
}