* {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (min-width: 768px) {
    header {
        position: absolute;
        top: 16%;
        left: 21%;
    }

    section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.2fr 0.8fr;

        width: 60%;
        position: absolute;
        top: 26%;
        left: 20%;

        background: gainsboro;
        border-radius: 10px;

        text-align: left;
    }


section > p {
    margin-top: 28px;
}
}

@media screen and (max-width: 767px) {
    header {
        position: absolute;
        top: 4%;
        left: 10%;
    }

    section {
        display: grid;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-columns: 1fr;

        width: 90%;
        position: absolute;
        top: 15vh;
        left: 5vh;

        background: gainsboro;
        border-radius: 10px;

        text-align: left;
    }


section > p {
    margin: 0px 20px 0px 20px;
}
}


section > div {
    background: #444;
    color: #fff;
    padding: 10px;
    margin: 20px;
    outline: 0;
    border-radius: 5px;
    transition: background 0.5s;
    text-align: left;
    box-shadow: 1px 1px 2px gray;
}

section > p > a {
    margin-top: 1em;

    display: block;

    text-decoration: none;
    color: #56917a;
}

article {
    display: flex;
    flex-direction: column;
    margin: 25px 25px 10px 25px;
}

article > p {
    padding: 0.5em;
}

/* bubble */
.speech-bubble-guest {
    position: relative;
    background: #a5cae2;
    border-radius: .4em;
    margin-left: auto;
}

.speech-bubble-guest:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #a5cae2;
    border-right: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-right: -10px;
}

.speech-bubble-consultant {
    position: relative;
    background: #9de3d5;
    border-radius: .4em;
    margin-right: auto;
}

.speech-bubble-consultant:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #9de3d5;
    border-left: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-left: -10px;
}

.question {
    position: relative;
    background: #fccd7c;
    border-radius: .4em;
    margin-left: auto;
}

.question:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #fccd7c;
    border-right: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-right: -10px;
}

.answer {
    position: relative;
    background: #f7f7eb;
    border-radius: .4em;
    margin-right: auto;
}

.answer:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #f7f7eb;
    border-left: 0;
    border-bottom: 0;
    margin-top: -5px;
    margin-left: -10px;
}