* {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.background-img{
    background-image: url("../img/bg.png");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
<<<<<<< HEAD
=======
}

@media screen and (min-width: 768px) {
    header {
        position: absolute;
        top: 16%;
        left: 21%;
        bottom: 30%;
    }

    section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.1fr 0.9fr;

        width: 60%;
        position: absolute;
        top: 39%;
        left: 21%;

        background: gainsboro;
        border-radius: 10px;

        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    header {
        position: absolute;
        top: 16%;
        left: 3%;
        margin-right: 11%;
    }

    section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.1fr 0.9fr;

        width: 94%;
        position: absolute;
        top: 43%;
        left: 3%;

        background: gainsboro;
        border-radius: 10px;

        text-align: center;

        font-size: 0.9em;
    }
>>>>>>> 4d0b9f646e5daaabe4919324b8c2daf105bce6da
}

section > div {
    padding-top: 0.7em;
}

.view, .title {
    border-bottom: solid 1px gray;
    margin-bottom: 0.3em;
    padding-bottom: 0.5em;
}

<<<<<<< HEAD
button {
    height: 2em;
    width: 10em;
    font-size: 1em;
    color: #fff;
    background: #004fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    transition: 0.3s;
    position: relative;
    top: 6%;
}

button:focus {
    outline: 0;
}

button:hover {
    background: rgba(0, 109, 255, 0.9);
    cursor: pointer;
=======
.btn:hover{
    opacity: 0.9;
>>>>>>> 4d0b9f646e5daaabe4919324b8c2daf105bce6da
}

p {
    text-align: left;
    margin-right: 20px;
}

/* Collapse 구현 */

details {
    margin: 5px 0 10px;
}

details > summary {
    background: #2471A3;
    color: #fff;
    padding: 10px;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
    text-align: left;
    box-shadow: 1px 1px 2px gray;
    margin-right: 20px;
}

details > summary::-webkit-details-marker {
    background: #444;
    color: #fff;
    background-size: contain;
    transform: rotate3d(0, 0, 1, 90deg);
    transition: transform 0.25s;
}

details[open] > summary::-webkit-details-marker {
    transform: rotate3d(0, 0, 1, 180deg);
}

details[open] > summary {
    background: #2d8ecd;
}

details[open] > summary ~ * {
    animation: reveal 0.5s;
}

.tpt {
    background: #444;
    color: #fff;
    margin: 5px 0 10px;
    padding: 5px 10px;
    line-height: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (min-width: 768px) {
    header {
        position: absolute;
        top: 16%;
        left: 21%;
        bottom: 30%;
    }

    section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.1fr 0.9fr;

        width: 60%;
        position: absolute;
        top: 39%;
        left: 21%;

        background: white;
        border: 1px solid gainsboro;
        border-radius: 10px;

        text-align: center;
    }
}

@media screen and (min-width : 320px) and (max-width: 767px) {
    header {
        position: absolute;
        top: 16%;
        left: 3%;
        margin-right: 11%;
    }

    section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.1fr 0.9fr;
        width: 94%;
        position: absolute;
        top: 47%;
        left: 3%;
        background: white;
        border: 1px solid gainsboro;
        border-radius: 10px;
        text-align: center;
        font-size: 0.9em;
    }
    button{
        transform: translate(0%, 30%);
    }
}
