* {
    margin: 0;
}

/* nav */

nav {
    background-color: teal;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    font-size: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: teal;
}

nav li a {
    display: block;
    padding: 20px 20px;
    border: 1px solid #f4f4f4;
    text-decoration: none;
}

nav li a:hover,
nav .menu-btn:hover {
    opacity: 0.8;

}

nav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 16px 20px;
    text-decoration: none;
}

/* menu */

nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

nav .menu-icon .navicon {
    background: cornsilk;
    display: block;
    height: 2px;
    position: relative;
    transition: 0.2s ease-out;
    width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
    background: cornsilk;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

nav .menu-icon .navicon:before {
    top: 5px;
}

nav .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

nav .menu-btn {
    display: none;
}

nav .menu-btn:checked~.menu {
    max-height: 240px;
}

nav .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

nav .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

nav .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

/* 최소 768px 부터 */
@media (min-width: 768px) {
    nav li {
        float: left;
    }

    nav li a {
        padding: 25px 20px;
    }

    nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    nav .menu-icon {
        display: none;
    }

}



/* 최대 767px 까지 */
@media (max-width:767px) {
    nav li a {
        padding: 7px 20px;
    }

    nav .logo {
        font-size: 1rem;
    }
}


.searches{
    position: fixed;
    top : 1.75rem;
    left:40vw;
    display: flex;
    color:white;
    cursor: pointer;
}

@media only screen and (max-width:784px) {
    .searches{
        display:none;
    }
}
footer {
    position: fixed;
    top: 95vh;
    left: 10vh;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.account_circle {
    font-size: 3rem;
    margin: 1rem;
}

a {
    display: block;
    text-align: center;
    margin: .25rem;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: teal;
    border-radius: 15px;
}

header{
    border: 1px solid black;
    position: absolute;
    top:15vh;
    width:100%;
}

header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    padding:0;

}

main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top:20vh;
    width:100%;
}

main section{
    margin: 2rem;
    border: 1px solid black;
}

.FAQ{
    grid-row-start: 1;
    grid-row-end: 3;
}

.awaiting{
    height: 25vh;
    grid-column-start: 2;
    grid-column-end: 3;
}

.upload{
    height: 25vh;
    grid-column-start: 2;
    grid-column-end: 3;

}
