* {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.searches {
    position: fixed;
    top: 1.75rem;
    left: 40vw;
    display: flex;
    color: white;
    cursor: pointer;
}

.background-img {
    background-image: url("../img/bg.png");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (max-width: 784px) {
    .searches {
        display: none;
    }
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.account_circle {
    font-size: 3rem;
    margin: 1rem;
}

header a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

header a:hover,
header ul li:hover {
    opacity: 0.8;
    color: #bfe9ff;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 1);
}


main a {
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    background-color: white;
    color: black;
}

main a:hover {
    opacity: 0.9;
}


main section {
    /*margin: 2rem;*/
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 20px;
    text-align: center;
}

input {
    width: 20em;
    border-radius: 7px;
}

img {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 50%;
    height: 100%;
    padding: 0px 50px;
}

.FAQ {
    grid-row-start: 1;
    grid-row-end: 3;
    /*margin: 2rem 2rem 2rem 14rem;*/
    /*항목 더 많아지면 틀이 깨짐*/
}

.FAQ-title {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    margin: 0.6em 1em;
}

.FAQ-box {
    display: grid;
    grid-template-columns: 150px 1fr;
    row-gap: 10px;
}

.apply-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

.upload-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}


.views-questions {
    border-bottom: 2px solid gray;
    background-color: white;
    padding-bottom: 10px;
    /*border-radius: 50px;*/
}


footer {
    background-color: black;
    transform: translateY(125vh);
    text-align:center;
    color:white;
}

footer a:visited{
    color:white;
}

footer a:link{
    color:white;
}


@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 0.8fr;
        position: absolute;
        top: 28%;
        left: 11%;
        width: 77%;
        gap: 3em;
    }

    header {
        position: absolute;
        top: 15vh;
        width: 100%;
    }

    header ul li {
        padding: 1em;
        border-radius: 10px;
    }

    article div p {
        font-size: 1.1em;
        background-color: white;
        border-radius: 10px;
        padding: 0.6em;
    }

    .apply {
        height: 25vh;
        grid-column-start: 2;
        grid-column-end: 3;
        /*margin: 2rem 18rem 2rem 2rem;*/
    }

    .upload {
        height: 25vh;
        grid-column-start: 2;
        grid-column-end: 3;
        /*margin: 2rem 18rem 2rem 2rem;*/
    }

    .apply-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: 10%;
        left: 2%
    }

    .upload-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: 10%;
        left: 2%
    }
}

@media screen and (max-width: 767px) {
    main {
        display: grid;
        grid-template-rows: 0.7fr 0.3fr 0.3fr;
        grid-template-columns: 1fr;
        position: absolute;
        top: 23%;
        left: 5%;
        width: 91%;
        gap: 3%;
    }

    header {
        position: absolute;
        top: 11vh;
        width: 100%;
    }

    header ul li {
        padding: 1em;
        border-radius: 10px;
        font-size: 0.88em;
    }

    /* 같은 내용을 굳이 또 표현할 필요는 없어서 화면에서 안보이게 처리함 */
    .waiting-bar,
    .result-bar,
    .faq-bar {
        display: none;
    }

    article div p {
        font-size: 0.9em;
        background-color: white;
        border-radius: 10px;
        padding: 0.3em;
    }

    div>.qlist {
        text-align: left;
    }

    .apply {
        grid-column-start: 2;
        grid-column-end: 3;
        /*margin: 2rem 18rem 2rem 2rem;*/
    }

    .upload {
        grid-column-start: 2;
        grid-column-end: 3;
        /*margin: 2rem 18rem 2rem 2rem;*/
    }

    .apply-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: 10%;
    }

    .upload-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: 10%;
    }
}