/* Common */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow: hidden;
    /* background-color 문제 해결 위해 주석처리 하겠슴다 */
    /* background-color:#000; */
}

main span {
    font-size: 2em;
    color: gainsboro;
}

main .what-is-soong {
    font-size: 2.5em;
    color: deepskyblue;
}

@media (min-width: 768px) {
    main > div > p {
        position: fixed;
        text-align: left;
        top: 34vh;
        left: 15vh;
        color: white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
    }


    .title {
        position: fixed;
        text-align: left;
        top: 18vh;
        left: 15vh;
        color: #2471A3;
        font-size: 4em;
        text-shadow: 2px 2px 3px black;
    }
}

@media (max-width: 767px) {
    main > div > p {
        position: fixed;
        text-align: left;
        top: 41%;
        left: 5%;
        color: white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        width: 86%;
    }


    .title {
        position: fixed;
        text-align: left;
        top: 18vh;
        left:5%;
        color: #2471A3;
        font-size: 4em;
        text-shadow: 2px 2px 3px black;
    }
}


footer {
    position: fixed;
    top: 95vh;
    left: 10vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-title {
    display: inline-block;
}

nav {
    display: inline-block;
}

@media only screen and (max-width: 426px) {

    main .title {
        left: 5%;
    }

    main p {
        left: 5%;
    }
}


video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}